<header>
  <a href="{{ base }}" class="logo-wrapper">
      <img src="{{ base }}/img/ragequit_logo.png" alt="logo" class="logo">
  </a>
  <div class="tagline">Des pains et des jeux</div>
  <div class="menu-toggle"><svg class="icon icon-menu"><use xlink:href="{{ base }}/img/symbol/svg/sprite.symbol.svg#menu"></use></svg></div>
  <nav class="menu-items">
      <ul>
          <li><a href="{{ base }}/about">À propos</a></li>
          <li><a href="{{ base }}/x-wing">X-Wing</a></li>
          <li><a href="{{ base }}/mtg">Magic</a></li>
          <li><a href="{{ base }}/hearthstone">Hearthstone</a></li>
      </ul>
  </nav>
</header>